@model IEnumerable<ABCShoppingMall.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserMovies.cshtml";
}


<section class="section" id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Latest Movies</h2>
                    <span>Dive into the latest cinematic sensations at our theater.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                                <ul>
                                    @*<li class="scroll-to-section">  @Html.ActionLink("Create", "UserTicket")<i class="fa fa-eye"></i></li>*@
                                    <li>
                                        <a href="@Url.Action("Create", "UserTicket")">
                                            <i class="fa fa-cart-plus"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                       
                            <tr>


                                <img src="@Url.Action("DisplayMoviesImage", "UserMovies",new{ id= @item.Id })" height="300px" width="300px" alt="Image" />
                                <!-- other columns -->
                            </tr>

                        </div>
                        <div class="down-content">
                            <h4>@item.Name</h4>
                            <span>$120.00</span>
                            <ul class="stars">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }

            @*<div class="col-lg-12">
                <div class="pagination">
                    <ul>
                        <li>
                            <a href="#">1</a>
                        </li>
                        <li class="active">
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">></a>
                        </li>
                    </ul>
                </div>
            </div>*@
        </div>
    </div>
</section>
