@model IEnumerable<ABCShoppingMall.Models.FoodCourt>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ProductUser.cshtml";
}





<section class="section" id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Our Latest Food Courts</h2>
                    <span>Indulge in diverse culinary delights at our food court shop, offering something for every palate.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                            </div>

                            <tr>


                                <img src="@Url.Action("DisplayImage", "FoodA",new{ id= @item.Id })" alt="Image" />
                                <!-- other columns -->
                            </tr>

                        </div>
                        <div class="down-content">
                            <h4 @item.FoodName></h4>
                            <span @item.Food_Detail></span>
                            <span @item.Items></span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

